<!DOCTYPE html>
<html>
<head>
    <title>Monthly Report Generator</title>
    <script>
        function showFileInfo(input) {
            var output = document.getElementById("file-info");
            output.innerHTML = "";

            for (var i = 0; i < input.files.length; i++) {
                var file = input.files[i];
                var p = document.createElement("p");
                p.textContent = "File Name: " + file.name + " - Sheet Names: " + getSheetNames(file);
                output.appendChild(p);
            }
        }

        function getSheetNames(file) {
            var reader = new FileReader();
            var sheetNames = "";

            reader.onload = function(e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, { type: "binary" });
                sheetNames = workbook.SheetNames.join(", ");
            };

            reader.readAsBinaryString(file);
            return sheetNames;
        }
    </script>
</head>
<body>
    <h3>Monthly Report Compiler</h3>
    <form action="/process" method="POST" enctype="multipart/form-data">
        <div style="display: flex; column-gap: 20px">
            <label id="year">Year (4-digit):
                <input style="width: 100px" type="text" name="year" required pattern="^\d{4}$" title="Please enter a 4-digit year (e.g., 2023)">
            </label><br><br>
            <label id="month">Month:
                <select name="month" required>
                    <option value="" disabled selected>Select a month</option>
                    {% for month in month_options %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <br><br>
        <input type="file" name="spreadsheets" multiple required onchange="showFileInfo(this)">
        <div id="file-info"></div>
        <br><br><br>
        <input type="submit" value="Generate Monthly Report">
    </form>
</body>
</html>
